.btn {
    position: fixed;
    font-size: 24px;
    bottom: 50px;
    z-index: 2;
    animation: fadeIn 0.5s linear forwards;
}

.btn:hover { cursor: pointer; }

.left { left: 50px; }
.right { right: 50px; }

.in { display: block; }

.out { display: none; }

.finish .btn {
    display: inline-block;
    position: inherit;
    background-color: var(--navigationFinish-backgroundColor);
    color: var(--navigationFinish-textColor);
    font-size: 18px;
    padding: 5px;
    margin: 0 10px 20px 0;
    border-radius: 5px;
}

.finish .btn span {
    display: flex;
    gap: 5px;
    align-items: center;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}