.accordion {
    position: relative;
    width: 60%;
    user-select: none;
    overflow: hidden;
    background-color: var(--accordion-backgroundColor);
    color: var(--accordion-textColor);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 3px 3px 12px -1px var(--accordion-boxShadow);
}

.accordion .title {
    display: block;
    color: var(--accordion-titleColor);
    text-align: center;
    cursor: pointer;
}

.accordion label .title::after {
    position: absolute;
    content: '+';
    right: 0;
    margin-right: 30px;
}

.accordion input[type="checkbox"]:checked + .accordion_wrapper label .title::after {
    content: '-';
}

.accordion_wrapper .content { 
    display: none;
    max-width: 100%;
    user-select: text;
    animation: showContent 0.3s forwards;
}

.accordion input[type="checkbox"] {
    display: none;
}

.accordion input[type="checkbox"]:checked + .accordion_wrapper .content {
    display: block;
}

@media screen and (max-width: 1270px) {
    .accordion { width: 80%; }
}

@keyframes showContent {
    from {
        opacity: 0;
        height: 0;
        padding: 0;
    }

    to {
        opacity: 1;
        height: auto;
        padding: 0 20px;
    }
}